@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 20px;
  padding-bottom: 6em;
}

input {
  margin: 25px;
}

button {
  background-color: #005282;
  border-radius: 10px;
  width: 90%;
  margin: 30px 0;
  padding: 19px 50px;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

th {
  font-size: 20px;
  padding: 5px 15px;
}

th:nth-child(2),
th:nth-child(3),
th:nth-child(4) {
  font-size: 0.6em;
  padding: 8px;
}

td {
  font-weight: 900;
  font-size: 1.8em;
}

td:nth-child(2),
td:nth-child(3),
td:nth-child(4) {
  padding: 0;
}

h1 {
  line-height: 1.5;
  margin: 0 auto;
  padding: 1.25em 0;
  width: 80%;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 20px;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 30px;
}

/* +++++++++ #header ++++++++ */

.header-paragraph {
  width: 80%;
  margin: 0 auto;
  border-top: 2px solid #005282;
}

#header p {
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 600;
  font-size: 1.28em;
  margin: 15px;
}

/* +++++++ #input-button ++++++++ */
#input-button {
  text-align: center;
}

.check-mark-box {
  font-size: 22px;
  position: relative;
  bottom: 20px;
}

.check-mark-box span {
  font-size: 25px;
}

input.newsletter-checkbox {
  zoom: 1.5;
  padding: 10px;
}

/* ++++++ #time-left +++++++ */
#time-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: arial, sans-serif;
  color: white;
}

.timer {
  margin: 0 auto;
}

.Calender {
  background-color: #71a1be;
}

.time-left-webinar {
  background-color: #71a1be;
  font-size: 1.4em;
  line-height: 1.5em;
}

#time-left p {
  font-size: 1.5em;
  margin-bottom: 2em;
}

#time-left p:nth-child(2) {
  font-size: 1.7em;
  font-weight: 600;
  margin-bottom: 1rem;
}

#time-left p:nth-child(4) {
  font-size: 1.3em;
  font-weight: 500;
  padding: 20px 20px 20px 40px;
  line-height: 1.4em;
}

.time-left img {
  padding: 20px;
  height: 12.5em;
}

/* +++++ #profile-list +++++ */

.profile {
  text-align: center;
  background-color: #05263a;
  color: white;
  padding: 25px;
}

.profile img {
  width: 100%;
  padding: 30px 10px 10px 0;
}

.profile p {
  line-height: 1.4em;
  font-family: arial, sans-serif;
  font-style: italic;
}

.list {
  margin: 0;
  font-family: arial, sans-serif;
  background-color: #ebebeb;
}

.list p {
  margin: 0;
  text-align: center;
  font-weight: bolder;
  padding-top: 1.25em;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  display: flex;
}

ul li span {
  line-height: 1.5em;
  margin: 1em;
}

li img {
  width: 120px;
  height: 100px;
  padding: 10px;
}

/* ++++++ #warnin ++++++ */

#warnin {
  text-align: center;
  background-color: #f58c99;
  color: white;
  padding: 2px;
}

#warnin img {
  display: none;
}

#warnin p {
  font-size: 27px;
  line-height: 1.4em;
}

/* +++++++ #claim-spot +++++++ */
#claim-spot {
  text-align: center;
  font-style: italic;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  padding: 19px;
  background-color: #05263a;
  color: white;
}

/* +++++ #arrow-down +++++ */
#arrow-down {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 60px solid #05263a;
}

/* ++++++++ @media for DeskTop Version ++++++++++++ */

@media only screen and (min-width: 1100px) {
  body {
    margin: 0 auto;
    width: 70%;
    /* font-size: 16px; */
  }

  button {
    width: 60%;
    padding: 1em 1.5em;
    font-size: 1.4em;
  }

  h1 {
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
    width: 16em;
  }
  .header-paragraph {
    border-top: 4px solid #005282;
  }

  #header p {
    font-size: 1.75em;
  }

  input.newsletter-checkbox {
    zoom: 2;
    padding: 10px;
  }

  .check-mark-box {
    font-size: 28px;
    line-height: 0;
    position: relative;
    bottom: 20px;
  }

  #time-left {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    grid-gap: 16px;
  }

  .time-left-webinar p {
    font-size: 1em;
  }

  .timer {
    width: 50%;
  }

  th {
    font-size: 1.5em;
  }

  th:nth-child(2),
  th:nth-child(3),
  th:nth-child(4) {
    font-size: 1.2em;
  }

  td {
    font-size: 1.8em;
  }

  td:nth-child(2),
  td:nth-child(3),
  td:nth-child(4) {
    font-size: 1.4em;
  }

  #profile-list {
    display: flex;
    width: 100%;
    margin: 20px 0;
  }

  .list {
    margin: 0;
    width: 60%;
    padding-left: 1.4em;
  }

  #warnin {
    text-align: center;
  }

  #warnin p {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #warnin img {
    display: inline;
    width: 75px;
    height: 75px;
    margin-right: 2em;
  }
} /*  end of media query */
